@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box!important;
    list-style-type: none;
    font-family: "Manrope";
}

body {
    background: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: 'Yantramanav', sans-serif;
}

.icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: blod;
    position: relative;
    cursor: pointer;
}

.cart {
    position: absolute;
    top: -6px;
    right: -5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: red;
    font-size: 15px;
    font-weight: bold;
}